<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylereg.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>реєстрація</h2>
        <form method="POST">
            <label for="username">Ім'я користувача:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Зареєструватися</button>
        </form>
        <p>Вже маєте обліковий запис? <a href="/login">Увійдіть</a></p>
    </div>
</body>
</html>